@import url("https://fonts.googleapis.com/css?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #dff9fb;
}

/* .light-mode {
    background-color: #fff;
    color: #333;
  }
  
  .dark-mode {
    background-color: #333;
    color: #999;
  } */


.title {
    font-size: 65px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Quantico;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 4rem;
}
.story-wrapper {
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 300px 20px 300px;
    padding: 1rem;
    /* border-radius: 10px;
    background-color: #F7F1E3; */
}

.story-title, .story-title:link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 2rem;
    color: black;
    text-decoration: none;
}
/* .story-title:link{
    
    text-decoration: none !important;
} */

.a-tag {
    text-decoration: underline;
    color: black;
}

.story-link {
font-family: 'Montserrat', sans-serif;
margin-top: 1rem;
text-decoration: none;
color: black;
font-size: 30px;

}

.story-author, .story-date, .story-comments {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 3.5rem;
    color: black;
}

.story-title:hover {
    color: #e3954b;
}